@model IEnumerable<Modelo.Cadastros.Fabricante>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "FABRICANTES";
}

@if (@TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}
<div class="panel panel-primary">
    <div class="panel-heading">
        FABRICANTES
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(m => m.FabricanteId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Nome)
                    </th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FabricanteId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.ActionLink("Alterar", "Edit", new { id = item.FabricanteId }, new { @class = "btn btn-warning btn-xs" })
                            @Html.ActionLink("Detalhes", "Details", new { id = item.FabricanteId }, new { @class = "btn btn-info btn-xs" })
                            @Html.ActionLink("Excluir", "Delete", new { id = item.FabricanteId }, new { @class = "btn btn-danger btn-xs" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="panel-footer panel-info">
        @Html.ActionLink("Adicionar", "Create", null, new { @class = "btn btn-info" })
    </div>
</div>

@section styles {
    <link href="@Url.Content("~/content/DataTables/css/dataTables.bootstrap.css")" rel="stylesheet" />
}

@section ScriptPage {
    <script src="@Url.Content("~/scripts/DataTables/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/scripts/DataTables/dataTables.bootstrap.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.table').dataTable();
            $('li').removeClass("active");
            $('#fabricantes').addClass("active");
        });
    </script>
}