@using Projeto01.Infraestrutura

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/content/bootstrap.css")" rel="stylesheet" />
    @RenderSection("styles", false)
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="page-header bg-danger">
                <div>
                    <h1 style="text-align:center">
                        ASP.NET MVC 5
                    </h1>
                </div>
                <div style="text-align:right;">
                    @{ 
                        if (Html.GetAuthenticatedUser().ToString() != "")
                        {
                            @Html.GetAuthenticatedUser();
                            @Html.ActionLink(" - Sair", "Logout", "Account");
                        }
                        else
                        {
                            @Html.ActionLink("Entrar", "Login", "Account", new { area = "Seguranca" }, null);
                        }
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-md-3 bg-success">
                <ul class="nav nav-pills nav-stacked">
                    <li id="home" role="presentation">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li id="categorias" role="presentation">@Html.ActionLink("Categorias", "Index", "Categorias", new { area = "Tabelas" }, null)</li>
                    <li id="fabricantes" role="presentation">@Html.ActionLink("Fabricantes", "Index", "Fabricantes", new { area = "Cadastros" }, null)</li>
                    <li id="produtos" role="presentation">@Html.ActionLink("Produtos", "Index", "Produtos", new { area = "Cadastros" }, null)</li>
                    <li id="usuarios" role="presentation">@Html.ActionLink("Usuários", "Index", "Admin", new { area = "Seguranca" }, null)</li>
                    <li id="papeis" role="presentation">@Html.ActionLink("Papéis", "Index", "PapelAdmin", new { area = "Seguranca" }, null)</li>
                </ul>
            </div>
            <div class="col-xs-9 col-md-9">
                <br/>
                @RenderBody()
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-12 col-md-12 bg-danger">
                <small>Layout com Bootstrap</small>
            </div>
        </div>
    </div>
    <script src="@Url.Content("~/scripts/jquery-1.10.2.js")"></script>
    <script src="@Url.Content("~/scripts/bootstrap.js")"></script>
    @RenderSection("ScriptPage", false)
</body>
</html>
